# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Virtual Environment
venv/
ENV/

# Database
*.db
*.sqlite3

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Flask
instance/
.webassets-cache

# Distribution / packaging
dist/
build/
*.egg-info/ 